<p id="notice"><%= notice %></p>

<h2>Welcome To the Page : <%= @user.username %></h2>

<div>
<%= link_to "Post a Photo", new_photo_path, :class => "btn btn-primary pull-right post_a_message" %>
</div>

<div class="container1">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#my-photos">My Gallery</a></li>
    <li><a data-toggle="tab" href="#shared-with-me">Shared With Me</a></li>
  </ul>

  <div class="tab-content">
    <div id="my-photos" class="tab-pane fade in active">
    	<br/>
    	<% if @my_photos.blank? %>
    		<p>You have not uploaded any messages, please click on Post a Photo to upload.</p>
    	<% else %>
    		<div class="row" style="margin: 0; width: 695px;">
			  <% @my_photos.each do |photo| %>
			    <div class="col-sm-4" style="height:100px; border: 1px solid black; border-collapse: collapse;">
					<%= photo.file_name %>
			    </div>
			  <% end %>
	  	</div>
    	<% end %>
    </div>
    
    <div id="shared-with-me" class="tab-pane fade">
    	<br/>
      	<% if @shared_photos.blank? %>
    		<p>No body has shared any upload with you. </p>
    	<% else %>
    		<div class="row" style="margin: 0; width: 695px;">
			  <% @shared_photos.each do |photo| %>
			    <div class="col-sm-4" style="height:100px; border: 1px solid black; border-collapse: collapse;">
					<%= photo.file_name %>
			    </div>
			  <% end %>
	  		</div>
    	<% end %>
    </div>
  </div>

</div>

<!--
<div class="container">
  <ul class="nav nav-pills">
    <li class="active"><a href="#my-photos">My Gallery</a></li>
    <li><a href="#shared-with-me">Shared With Me</a></li>
  </ul>
</div>

<% if @photos.blank? %>
	<p>You seem new here. Please upload some photos to see.</p>
	<%= link_to 'New Photo', new_photo_path, :class => 'btn btn-primary'%>
<% else %>
	<div id='my-photos'>
	  	<div class="row" style="margin: 0; width: 695px;">
			<% @photos.each do |photo| %>
			    <div class="col-sm-4" style="height:100px; border: 1px solid black; border-collapse: collapse;">
					<%= photo.file_name %>
			    </div>
			<% end %>
	  	</div>
	</div>
<% end %>

-->